<div id="<%= dom_id group %>">
  <h1><%= group.group_name %></h1>
  <%= group.group_type %>

  <%# <p>
    <strong>Created by:</strong>
    <%= group.group_owner %>
  <%# </p> %>

  <p>
    Members <br><%= group.group_members %>
  </p>  

  <%# <p>
    <strong>Group status:</strong>
    <%= group.group_status %>
  <%# </p> %>

</div>
