<div id="<%= dom_id expense %>">
  <p>
    <strong>Expense name:</strong>
    <%= expense.expense_name %>
  </p>

  <p>
    <strong>Expense amount:</strong>
    <%= expense.expense_amount %>
  </p>

  <p>
    <strong>Expense datetime:</strong>
    <%= expense.expense_datetime %>
  </p>

  <p>
    <strong>Expense notes:</strong>
    <%= expense.expense_notes %>
  </p>

  <p>
    <strong>Expense group:</strong>
    <%= expense.expense_group_id %>
  </p>

</div>
